<html>
<head>
</head>
<body>
    {{ all_friends[0] }}
    <h1>Friends!</h1>
    <table >
      {% for friend in all_friends: %}
        <tr>
          <td> {{ friend['name'] }}</td>
          <td> {{ friend['age'] }}</td>
          <td> {{ friend['date'] }}</td>
          <td> {{ friend['year'] }}</td>
        </tr>
      {% endfor %}
    </table>



  <h2>Add a Friend</h2>
  <form action='/friends' method='POST'>
    <label for="name">Name:<input type="text" name="name" id="name"></label> <br><br>
    <label for="age">Age:<input type="text" name="age" id="age"></label> <br><br>
    <input type="submit" value="Add">
  </form>
</body>
</ht