<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script>
</head>
<body>
    <div id="wrapper">
    <div id="top">
        <h1> CodingDojo Wall </h1>
        <h2> Welcome {{ session['first_name'] }} </h2>
        <form action="/logoff" method="post">
            <button type="submit">log off</button>
        </form>
    </div>
    <div id="container">
    <div id="post">
        <p> Post a message</p>
        <form action="/newmessage" method="post">
            <textarea name="message"></textarea><br><br>
            <input type="submit" value="Post a message">
        </form>
    </div>
    <div id="wall">
        {% for i  in session['messages']  %}
            <div class="message">
            <h3> {{i['name']}} - {{i['date']}}  </h3>
            <h4> {{i['message']}}  </h4>
            </div>
            {% for j  in session['comments']  %}
                {% if j['message_id']==i['message_id']  %}
                    <div class="comment">
                    <h5> {{j['name']}} - {{j['date']}}  </h5>
                    <h6> {{j['comment']}}  </h6>
                    </div>
                {% endif %}
            {% endfor %}
            <form action="/newcomment" method="post" class="post">
                <textarea name="comment"></textarea><br><br>
                <input type="hidden" name="message_id" value={{i['message_id']}} />
                <input type="submit" value="Post a comment">
            </form>
        {% endfor %}
    </div>
</div>
</div>
    
</body>
</html>

