*{
    margin: 0px;
    padding: 0px;
    font-family: Courier;
}
#wrapper {
    width: 970px;
    margin: 0px auto;
    color: #333333;
    padding: 40px;
}
h2 {
    margin-bottom: 20px;
}
#square {
    width: 140px;
    height: 140px;
    background: blue;
    margin: 20px 0px ;
}
#square {
    width: 140px;
    height: 140px;
    background: blue;
    margin: 20px 0px ;
}
#circle {
    height: 140px;
    width: 140px;
    background-color: blue;
    border-radius: 70px;
    margin: 20px 0px ;
    margin: 20px 0px ;
}
#triangle_base {
    width: 140px;
    height: 140px;
    background: blue;
    margin: 20px 0px ;
    display: inline-block;
    position: relative;
    right: 60px;
}
#triangle_left {
    width: 67px;
    height: 157px;
    background: white;
    display: inline-block;
    transform: rotate(26.565deg);
    position: relative;
    bottom: 26px;
    left: -12px;
    z-index: 1;
}
#triangle_right {
    width: 67px;
    height: 157px;
    background: white;
    display: inline-block;
    transform: rotate(-26.565deg);
    position: relative;
    bottom: 26px;
    right: 108px;
    z-index: 1;
}
#container{
    position: relative;
    right: 24px;
}
#packman_base{
    height: 140px;
    width: 140px;
    background-color: blue;
    border-radius: 70px;
    margin: 20px 0px ;
    display: inline-block;
}
#packman_right{
    width: 140px;
    height: 140px;
    background: white;
    margin: 20px 0px ;
    display: inline-block;
    transform: rotate(45deg);
    position: relative;
    right: 59px;
}