*{
    margin: 0px;
    padding: 0px;
    font-family: Courier;
}
#wrapper {
    width: 970px;
    margin: 0px auto;
    background-color:#dddfd4;
    color: #dddfd4;
    padding: 20px;
}
#header{
    width: 930px;
    margin: 0px auto;
    background-color: #37b1ac;
    color: #e6f4f4;
    padding: 10px;
}
#header img {
    width:40px;
    vertical-align: center;
}
#header h1 {
    display: inline-block;
    color: black;
    font-size: 25px;
    vertical-align: top;
    margin: 5px 0px 0px 0px;
}
#header ul {
    display: inline-block;
    margin: 15px 0px 0px 145px;
    font-size: 13px;
    vertical-align: top;
}
#header ul li{
    display: inline;
}
#header a {
    color:#f9fdfd;
    display: inline-block;
}
#midsection{
    width: 930px ;
    margin: 13px auto 8px auto;
    background-color: #fbe791; 
    padding: 20px 10px;
}
#left {
    width: 250px;
    height: 620px;
    margin-right: 30px;
    background-color: #153f44;
    padding: 5px 20px 5px 10px;
    display: inline-block;
}
#left h2 {
    font-size: 23px;
    margin: 12px 0px;
}
#left p {
    font-size: 15px;
    margin: 0px 10px;
}
#right{
    width:600px;
    display: inline-block;
    vertical-align: top;
}
.panel{
    background-color: #153f44;
    padding: 5px 20px 5px 10px;
    display: inline-block;
    vertical-align: top;
}
.panel p {
    margin: 10px 15px;
    font-size: 15px;
}
span {
    color: #49d4c5;
    font-weight: bold;
}
.top {
    width: 145px;
    height: 200px;
    margin: 0px 15px 0px 0px;    
}
.mid {
    width: 247px;
    height: 160px;
    margin: 30px 15px 0px 0px;
}
.bot {
    width: 550px;
    height: 160px;
    margin: 30px 0px 0px 0px;
    padding-bottom: 26px;
}
#footer{
    width: 930px;
    margin: 0px auto;
    background-color: #37b1ac;
    color: #050e0e;
    padding: 20px;
    text-align: center;
}