*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
#wrapper{
    width: 970px;
    margin: 0px auto;
    background-color: white;
    color: black;
}
#globe {
    width:90px;
    position: relative;
    top: 20px;
}
h1 {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    margin-bottom: -20px;
    font-weight: 500;
    font-size: 37px;
    position: relative;
    top: 20px;
}
h2{
    color: white;
    background-image: linear-gradient(#2968a0, #4e81ab , #2968a0);
    padding: 15px;
    font-weight: 500;
    font-size: 28px;
}
.bluespan{
    color: #23649e;
}
#redspan{
    color: #db362e;
}
#container {
    background-image: linear-gradient(#e4e4e4 , #ffffff 10%);
}
#sidebar{
    width:184px;
    padding: 20px 5px;
    vertical-align: top;
    display: inline-block;
    margin-right: 40px;
}
#sidebar h3{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
#sidebar h4{
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}
button {
    font-size: 14px;
    width:160px;
    margin: 5px auto;
    display: block;
    box-shadow: 1px 1px  black;
    border-radius: 2px;
    padding: 3px 0px;
    color: white;
}
#videobutton{
    background: linear-gradient(#6298c2,#2c6ba3 );
}
#resourcesbutton{
    background: linear-gradient(#eba649,#f0761e );
    margin-bottom:20px;
}
#ad {
    background-image: url("images/ad_background.png");
    padding: 20px;
    margin-top: 24px;
}
#ad p {
    color:white;
    text-align: center;
    font-size: 20px;
}
#ad img {
    width: 100px;
    margin: 0px auto;
    display: block;
}
#learnbutton{
    width:140px;
    background: linear-gradient(#6bcedf, #00c2de );
}
#ad span{
    font-size: 9px;
    vertical-align: middle;
    font-weight: 400
}
#span1{
    color: #8bdeeb;
}
#span2{
    color:#c3eff5;
}
#span2{
    color: #f6fdfe;
}
#maincontent {
    display: inline-block;
    width: 725px;
}
#home {
    width: 25px;
    vertical-align: top;
    margin: 10px 3px 0px 5px;
}
#maincontent a{
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #2a69a0;
    margin: 20px 0px 0px 0px;
}
#phone {
    width: 40px;
    margin-left: 450px;
}
#details {
    display: inline-block;
    text-align: center;
    margin-bottom: 7px;
}
#details h6{
    color:#7a7a7a;
}
#details a{
    margin: 0px;
    color:#00c0df;
    font-weight: 800;
    font-size: 21px;
}
#maincontent h3 {
    color: #25669f;
    margin: 5px 0px;; 
    font-size: 20px;
    font-weight: 800;
}
.spanlight {
    color: #1da1b7;
}
#spanbold {
    font-weight: bold;
    color: black;
}
ul , ol{
    display: block;
    margin: 10px 30px;
}
#server {
    width:250px;
    margin: 15px auto;
    display: block;
}
#big3_container{
    padding: 10px 20px;
    border: 4px solid #0085e0;
}
#html {
    width: 100px;
}
#big3_text {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    width: 540px;
}
#big3_text p {
    font-size: 15px;
    margin: 4px 0px;
}