*{
    margin: 0px;
    padding: 0px;
    font-family: "times new roman"    ;
}
#wrapper{
    width: 970px;
    margin: 0px auto;
    background-color:#d5d1ae;
    color: black;
    padding: 40px 20px;
}
#header{
    display: flex;
    justify-content: center;
}
.title_image {
    display: inline-block;
    width: 120px;
    height: 53px;
    background-color: white;
    align-self: center;
    border: 0px;
}
h2 {
    display: inline-block;
    margin: 20px 5px 0px 5px;
    font-weight: bolder;
    font-size: 40px;
}
#content {
    width: 867px;
    display: block;
    margin: 20px auto 0px auto;
}
img {
    width:140px;
    margin: 1px;
    border: 4px solid black;
    padding: 10px;
}
#off  {
    height: 140px;
}
.evencol {
    background-color: #f3686f;
}
.oddcol {
    background-color: #82b4ee;
}