<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style_sheet.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script>   
    </head>
    <body>
        <div id="wrapper">
            <h1> Your Gold: <span> {{ session["score"] }} </span></h1>
            <div id="forms">
                <div class="location">
                    <h2>Farm</h2>
                    <h3>(earns 10-20 golds)</h3>
                    <form action="/process_money"  method="post">
                    <input type="hidden" name="building" value="Farm" />
                    <input type="submit" value="Find Gold!">
                    </form>
                </div>
                <div class="location">
                    <h2>Cave</h2>
                    <h3>(earns 5-10 golds)</h3>
                    <form action="/process_money"  method="post">
                    <input type="hidden" name="building" value="Cave" />
                    <input type="submit" value="Find Gold!">
                    </form>
                </div>
                <div class="location">
                    <h2>House</h2>
                    <h3>(earns 2-5 golds)</h3>
                    <form action="/process_money"  method="post">
                    <input type="hidden" name="building" value="House" />
                    <input type="submit" value="Find Gold!">
                    </form>
                </div>
                <div class="location">
                    <h2>Casino</h2>
                    <h3>(earns/takes 0-50 golds)</h3>
                    <form action="/process_money"  method="post">
                    <input type="hidden" name="building" value="Casino" />
                    <input type="submit" value="Find Gold!">
                    </form>
                </div>
            </div>
            <h4>Activities:</h4>
            <div id="activities">
                {% if session["history"]|length>0: %}
                    {% for i in range(0, session["history"]|length ): %}
                        {% if session["history"][i][1] <0: %}
                            <p id="lost"> on your {{session["history"][i][0]}} move , you went to the {{ session["history"][i][2] }} and lost {{ -1* session["history"][i][1] }} golds!; the time was {{ session["history"][i][3] }} </p>               
                        {% else %}
                            <p> on your {{session["history"][i][0]}} move , you went to the {{ session["history"][i][2] }} and earned {{session["history"][i][1]}} golds!; the time was {{ session["history"][i][3] }} </p>               
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <form  action="/reset"  method="post">    
                <input id ="again" type="submit" value="Restart game">
            </form>
        </div>

