<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style_sheet.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script>   
    </head>
    <body>
        <div id="wrapper">
            <h1> Welcome to the Great Number Game!</h1>
            <h3> I am thinking of a number between 1 and 100 </h3>
            <h3> Take a guess! </h3>
            {% if session["guess"]==None %}
            <form  action="/guess"  method="post">    
                <input type="text" name="userguess"><br><br>
                <input type="submit" value="Submit ">
            </form>
            {% endif %} 
            {% if session["guess"]!=None and session["guess"] < session["rand"] %}
                <div id="badguess"> Too low... </div>
                <form  action="/guess"  method="post">    
                    <input type="text" name="userguess"><br><br>
                    <input type="submit" value="Submit ">
                </form>
            {% endif %} 
            {% if session["guess"]!=None and session["guess"] > session["rand"] %}
            <div id="badguess"> Too high... </div>
            <form  action="/guess"  method="post">    
                <input type="text" name="userguess"><br><br>
                <input type="submit" value="Submit ">
            </form>
            {% endif %} 
            {% if session["guess"]!=None and session["guess"] == session["rand"] %}
            <div id="goodguess"> {{ session["rand"] }} was the number! 
            <form  action="/reset"  method="post">    
                <input id ="again" type="submit" value="Play again!">
            </form>
            </div>
            {% endif %} 
        </div>
    </body>
</html>