
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
</head>
<body>
<form action='/update' method='POST'>
    <h1> Edit User {{ user['user_id'] }} </h1>

    <input type="hidden" name="user_id" value= {{ user['user_id'] }} ><br><br>
    
    <label for="first_name">First Name:</label> <br>
    <input type="text" name="first_name" value= {{ user['first_name'] }} ><br><br>
    
    <label for="last_name">Last Name:</label> <br>
    <input type="text" name="last_name" value= {{ user['last_name'] }} ><br><br>

    <label for="email">Email:</label> <br>
    <input type="text" name="email" value= {{ user['email'] }} ><br><br>

    <input type="submit" value="Update">
</form><br>
<a href="/users/{{user['user_id']}}"> Show </a> |
<a href="/users">See users </a> 
</body>

</html>






 

 