<html>
<head>
</head>
<body>
    <h1>Users</h1>
    <table >
      <tr>
          <th>id</th>
          <th>Full Name</th> 
          <th>Email</th>
          <th>Created At</th>
          <th>Actions</th>
      </tr>
      {% for user in all_users: %}
        <tr>
          <td> {{ user['user_id'] }}</td>
          <td> {{ user['name'] }}</td>
          <td> {{ user['email'] }}</td>
          <td> {{ user['date'] }}</td>
          <td> 
            <a href="/users/{{user['user_id']}}"> Show </a>
            <a href="/users/{{user['user_id']}}/edit"]> Edit</a>
            <a href="/delete/{{user['user_id']}}"> Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>
    <br><br>
  <a href="/users/new" > Add a new user</a>
</body>
</html>
